{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-5 text-center">¡Bienvenido a Mentora!</h1>
        <p>Estamos aquí para acompañarte en tu bienestar emocional y mental. Nuestra plataforma está diseñada para facilitar el acceso a servicios de salud mental, especialmente para quienes enfrentan desafíos de movilidad o viven en zonas rurales.</p>
    
        <p>Explora herramientas personalizadas como el seguimiento de tu estado de ánimo, recursos de autoayuda, y la posibilidad de programar citas con profesionales de salud mental. Todo en un entorno seguro y accesible.</p>
    
        <p>Recuerda, cuidar de tu mente es un acto de autocuidado y valentía. Estamos contigo en este camino hacia una mejor calidad de vida.</p>
    
        <strong>¡Gracias por confiar en nosotros!</strong>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/"> 
                Iniciar sesión
            </a>

            <a class="btn btn-primary" href="/signup/"> 
                Registrarme
            </a>
        </div>
    
    </section>
    <img src="https://media1.giphy.com/avatars/psicosan/4lGmkStBkjQf.gif" alt="Gato saltando">

</main>

{% endblock %}
