{% extends 'base.html' %}

{% block content %}



<style>
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
    }
    .banner {
        text-align: center;
        background-color: #f8f8f8;
        padding: 20px;
        margin-bottom: 20px;
    }
    
    .sections {
        display: flex;
        justify-content: space-between;
    }
    .section {
        width: 48%;
        border: 1px solid #ccc;
        padding: 20px;
    }
    
</style>
</head>
<body>
<div class="banner">
    <h1> Telepsicologia </h1>
</div>

<div class="sections">
    <div class="section">
        <h2>¿Qué es telepsicología?</h2>
        <iframe width="750" height="350" src="https://www.youtube.com/embed/ehJcVdJQLp8" title="¿Qué es telepsicología?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section ">
        <h2>Telepsicología: La nueva frontera en la atención psicológica</h2>
        <iframe width="750" height="350" src="https://www.youtube.com/embed/bTzQOSwNE3E" title="Telepsicología: La nueva frontera en la atención psicológica" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
    </div>
</div>

<div class="sections">
    <div class="section">
        <h2>Telepsicología Infantil</h2>
        <iframe width="750" height="350" src="https://www.youtube.com/embed/F6SF3raGVpA" title="&quot;Telepsicología Infantil&quot;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section ">
        <h2>Retos en la formación para la prestación de servicios en telepsicología</h2>
        <iframe width="750" height="350" src="https://www.youtube.com/embed/eyRBNsyN_kU" title="Retos en la formación para la prestación de servicios en telepsicología" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
    </div>
</div>

<div class="sections">
    <div class="section">
        <h2>Telepsicología clínica y organizacional</h2>
        <iframe width="750" height="350" src="https://www.youtube.com/embed/3ncRgDnlYbs" title="Telepsicología clínica y organizacional" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section ">
        <h2>Telepsicología en psicología de la salud</h2>
        <iframe width="750" height="350" src="https://www.youtube.com/embed/ZyuSnYOQz88" title="Telepsicología en psicología de la salud" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
    </div>
</div>

<div class="sections">
    <div class="section">
        <h2>Telepsiquiatría y telepsicología en tiempos de la pandemia por coronavirus</h2>
        <iframe width="750" height="350" src="https://www.youtube.com/embed/NHgbn7KNr5w" title="Telepsiquiatría y telepsicología en tiempos de la pandemia por coronavirus" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="section ">
        <h2>Así superé los Ataques de Pánico y de Ansiedad</h2>
        <iframe width="750" height="350" src="https://www.youtube.com/embed/2kUqVkYGI48" title="Así superé los Ataques de Pánico y de Ansiedad" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
    </div>
</div>
</body>
{% endblock %}